[2017-10-19 00:38] slashiee opened #1 "Constant moving to the left when using for buttons/axes"
When "Also use for buttons/axes" is selected, both the left and right stick inputs will go all the way to the left.

[2017-10-19 23:09] FrogTheFrog commented on #1
Should be fixed now :)

[2017-10-19 23:09] #1 closed

[2017-10-22 01:53] lahma69 opened #2 "How to contact author, FrogTheFrog?"
First let me apologize by polluting your "Issues" section with something that is not truly an issue, but I could not find any other way to contact you. I really don't have anything super urgent to speak about... I was just a bit astounded when I came across this project, since as of as little of a week ago, nothing of this kind existed. As I'm sure you did, I searched for any projects related to c

[2017-10-22 18:40] #2 closed

[2018-01-07 22:41] Bobbynofoot opened #3 "Hello! im having an issue with getting steamgyro to launch"
So when i run your program I get this error, Error: bind EADDRINUSE 127.0.0.1:26760
and it dies instantly. Any idea why? or do you need the whole log?

[2018-01-07 22:44] FrogTheFrog commented on #3
@Bobbynofoot Address `127.0.0.1` is in use. Try changing it to `127.0.0.2`, etc. in generated json file. If it works, you'll also need to change server address in cemuhook settings.

[2018-01-08 23:32] Bullsquid opened #4 "Add gyroscope deadzone/sensitivity adjustment support"
When I hold the controller steadily, it registers micromovements that result in camera jitter while aiming in BotW on Z axis. Even if I place the controller on a flat surface, it still jitters for 5 seconds until it stops sending input.

[2018-01-09 01:10] FrogTheFrog commented on #4
I'll push a threshold feature tomorrow. Already tested it and it works like a charm for me, just need to finish something.

However, if you feel a slight drift around one axis (forgot which) keep in mind that I can not eliminate it. It's due to Steam controller having a 6-axis sensor where a 9-axis sensor is required to determine a an absolute value for that one axis. Without an absolute value, it

[2018-01-09 15:25] FrogTheFrog commented on #4
@Bullsquid Try 1.2.0 out. Default values are good enough for me, but you can increase them if you want.

[2018-01-09 15:25] FrogTheFrog commented on #3
@Bobbynofoot Did you fix this issue?

[2018-01-09 22:21] and-boiko commented on #4
@FrogTheFrog Tried 1.2.0. Played with the values for a couple of days (in-game days), and found these to be the most balanced between jitter and precision:
[code]

I've set gyro to 0 because otherwise it causes axis drift, and besides, it looks like it doesn't affect jitter much anyway. As for the accelerometer, with the default values I've still experienced "up and down" jitter while aiming, so I

[2018-01-09 22:36] FrogTheFrog commented on #4
So, would you recommend setting default values to your values?

[2018-01-09 22:51] and-boiko commented on #4
I would recommend setting gyro to 0.

Not sure about accelerometer values, I think it needs more testing with different users. Maybe not all Steam Controllers accelerometer sensors are equal? I find these values good for me, but don't think they're perfect.

[2018-01-09 22:54] FrogTheFrog commented on #4
I'll just set them all to zero and add some comment about your values to README. I'll close this issue when it's done.

[2018-01-09 23:02] and-boiko commented on #4
Could the precision drop with high threshold values be combated somehow? Maybe something similar to controller stick deadzone would work: if the deadzone is 25, and the stick is moved past the deadzone to 26, it would send 1 instead of 26. Not sure if it will mess the data up though...

[2018-01-09 23:13] FrogTheFrog commented on #4
Basically, given that `realValue > thresholdValue`, `finalValue = realValue - thresholdValue`? If yes, then I'll try it tomorrow.

[2018-01-09 23:28] and-boiko commented on #4
Basically yes, but that way maximum value will be reduced by thresholdValue. Should be `finalValue = maxValue * (realValue - thresholdValue) / (maxValue - thresholdValue)`.

[2018-01-10 09:46] and-boiko commented on #4
As I'm not sure about the deadzone being a good solution, I've googled a bit and found out that maybe what we need is a low-pass filter to smooth out the data.

There are simple implementations, like using the average of previous data, but this will create some latency and it's not the best low-pass you can get, so maybe you can find something better.
https://stackoverflow.com/questions/4611599/sm

[2018-01-10 11:53] FrogTheFrog commented on #4
@Bullsquid Deadzone wasn't any different from previous attempt. However, a very simple low-pass filter seems to work... maybe.

Could you contact me on discord (FrogTheFrog#1801)? I would like to send you a test version, before I publish another "broken" one :)

[2018-01-10 18:29] Bobbynofoot commented on #3
oh wow that was fast, sorry i haven't been around my PC in the last few
days. This seems to have fixed the issue, thanks man!

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>

[2018-01-10 18:30] #3 closed

[2018-01-21 13:50] Barborica-Alexandru commented on #4
Hey. Thanks for all your hard work, I can confirm this issue and also that y threshold set to 0.018 does slightly alleviate the problem. However a deadzone method might be better advised as through all my tweaking the threshold vs post-scaler I was unable to find a balance between shaking and accuracy. Removing the shaking by upping the threshold leads to the crosshair moving in increments instead

[2018-01-21 14:50] FrogTheFrog commented on #4
@Barborica-Alexandru My "cut off" approach was flawed in v1.2.0. Values must be filtered to reduce stutter, however this produces a side effect - latency. It feels strange at first, but you can get used to it.

I've added filter concept in `test` branch, however "settings" UI is broken at the moment due to Electron using chromium v59. Thus I'm not publishing anything till it is updated to v63+ (ht

[2018-01-21 20:07] and-boiko commented on #4
Since I'm having troubles with building the project and don't currently have time to do this myself, I maybe just publish my idea here for someone to implement:
Take v1.2.0 approach with threshold, but once a threshold has been hit, set threshold to 0 for the next n cycles (for example, something around 0.5-1 second). This way the moment you start moving gyro significantly, you get 100% precision

[2018-01-21 23:19] FrogTheFrog commented on #4
@Bullsquid, @Barborica-Alexandru I've build a pre-release for you. Keep in mind that `settings` UI page is completely broken. You'll have to manually edit generated `json` file.

Here's a little info on how to edit this `json` file (edit with something else than notepad). Delete current `steam-gyro.json` file (backup it first if you want). You'll end up with newly generated file:
[code]
Enable fil

[2018-01-21 23:29] Bullsquid commented on #4
@FrogTheFrog I believe the first example should have "Hysteresis" type.

[2018-01-22 12:08] Barborica-Alexandru commented on #4
There is a syntax error somewhere here and I can't seem to find it:
[code]

Error log
[code]

I don't know why breaks don't appear in `code`

EDIT: Found it. "," missing after first coeficient for hysteresis.

[2018-01-22 12:21] FrogTheFrog commented on #4
Use "```" for code blocks instead of "`".

[2018-01-22 12:39] Barborica-Alexandru commented on #4
Ok so I tested it out. Hysteresis does not work but we knew that already from the previous implementation as it is essentially the same.

However the low-pass filter based on the gyro data is AMAZING. Out of the box values you provided and the experience is almost exactly what it should be. Some more tweaking might be required but for the next release I recommend this as the default.

[2018-01-22 17:16] FrogTheFrog commented on #4
@Barborica-Alexandru If you find almost perfect settings, could you post them here? I personally like:
[code]
but I'm open for a debate.

[2018-01-22 19:16] Barborica-Alexandru commented on #4
I settled on
[code]

Variation might exist between controllers so I don't know if almost perfect settings even exist but for me the algorithm itself is such a major improvement that between my settings and yours the difference is quite minimal. It's more about personal preference.

[2018-01-23 20:34] FrogTheFrog commented on #4
@Bullsquid What do you think?

[2018-01-23 22:18] and-boiko commented on #4
@FrogTheFrog Didn't have time to try the new version yet, sorry. :(

[2018-01-26 22:58] and-boiko commented on #4
I've finally tested it and I couldn't get anything better than @Barborica-Alexandru's settings.

It's really hard to set it, because you have to constantly battle jitter, precision, drag and latency. Hysteresis is pointless with all the axis sharing the same value, because in previous version only one of them needed to be high.

Working GUI would help a lot with trying out new settings, because I

[2018-02-05 17:53] pingo-power opened #5 "Fusion with CEMU project"
Can you please enter in touch with CEMU dev to integrate your projet as an option in CEMU and work with them to improve Steam Controller integration in CEMU please ? So the work of controller/Steam Controller/Steam Gyro. Controller will be common to all CEMU related dev. :)
Because it's difficult to make simply playable CEMU, so for sit on the crouch, playing on the TV, with a Steam Controller, co

[2018-02-06 09:07] FrogTheFrog commented on #5
@pingo-power Unfortunately I already know their answer - no (that's what I would say).

Motion sensor is not part of a standard input (xinput or dinput). Even a Dolphin dev stated that until it becomes a part of a standard, they won't officially support other motion controllers. The main reason is that supporting different controllers requires to actually own said controller in order to test it an

[2018-02-06 09:07] #5 closed

[2018-02-13 17:50] tacticalcraptical opened #6 "Gyro will not work unless the "Steam Gyro for Cemuhook" windows is visible and focused."
Steam controller gyro will not work unless the "Steam Gyro for Cemuhook" window is open, visible and focused. If the Cemu windows is focused or fullscreen, the gyro stops responding.

I have tried to run Cemu and Steam Gyro for Cemuhook as administrator.  Tried various version combinations of Cemu and Steam Gryo.

I am on Windows 7 64-bit, latest version.

Thanks.

[2018-02-13 18:02] FrogTheFrog commented on #6
Can you try using [padtest](https://sshnuke.net/cemuhook/padudpserver.html)? This app reads data directly from Steam controller, it should not matter whether UI is open or not.

[2018-02-15 01:32] tacticalcraptical commented on #6
Sorry it took so long to get back. It does seem to work fine in PadTest, even when the Steam Gyro app is hidden. So I guess it's something with the Cemu setup maybe. I have tried tweaking a lot of the settings in there and matched them exactly to the ReadMe. What could I be missing?

[2018-02-15 01:38] tacticalcraptical commented on #6
This is my cemuhook.ini
[Input]
motionSource = DSU_545200BBAC15
motionSourceIsBtnSource = false
serverIP = 127.0.0.1
serverPort = 26760

One thing I just noticed, if I have the Steam Devices tab open, I can see the gyro values changing as I move the control but as soon as the Cemu windows is focused, the numbers stop changing, if I focus any other window, they will continue react.

[2018-02-15 10:53] FrogTheFrog commented on #6
Just for testing purposes: exit Steam and select "Also use for buttons/axes" in Cemu. Also, always use motion source "By slot". MAC id is random every time you restart this app.

Launch any game and test out controller. We should see if it's a problem with Cemu or Steam.

[2018-02-15 15:19] tacticalcraptical commented on #6
Let me clarify, you're saying have Steam closed completely, turn on "Also use for buttons/axes" and run Cemu with Steam still closed?  I tried this but Steam Gyro for Cemuhook won't even find the controller if Steam isn't running, shows "disconnected" in Cemu and PadTest won't read it either.

[2018-02-15 15:28] FrogTheFrog commented on #6
@tacticalcraptical Could you reach me on discord (FrogTheFrog#1801). It would be faster to communicate this way.

[2018-02-16 03:15] tacticalcraptical commented on #6
I am so sorry, I have left town for the week on vacation. I could next week if you are still wanting to look into it.  Thanks for the help!

[2018-02-16 14:13] FrogTheFrog commented on #6
@tacticalcraptical No worries, just find me when I'm online and I'll help :)

[2018-02-20 08:54] bphd commented on #5
So just make it as easier as possible for user, the best are a full automatic and ready to play installer

[2018-03-14 21:14] ajojoreference opened #7 "Lagging haptics and controller rumble gets stuck"
Whenever the tool is open, the controller will just skip over some of the haptics for each input. This is most noticeable with the right pad's haptics. In addition, the emulated rumble will always get stuck whenever the controller is supposed to vibrate. Changing the rumble frequency setting does nothing to solve this. This happens across all games.

[2018-03-14 22:29] FrogTheFrog commented on #7
When this app is closed everything works as intended?

[2018-03-15 01:45] ajojoreference commented on #7
Yep, the controller works perfectly as soon as I close the app.

[2018-03-15 01:58] FrogTheFrog commented on #7
What game should be easy to replicate this problem with? I personally hate rumble, so I have it turned of by default.

[2018-03-15 20:51] ajojoreference commented on #7
I can confirm it tends to happen whenever you fire your gun in splatoon. Tested this using the practice mode for the gun you start the game with. Also the treasure tracker levels in SM3DWorld have the rumble get stuck whenever toad enters a door or falls down, I tested this using the world 5 treasure tracker level near the end.

[2018-03-29 15:06] pharmville opened #8 "Feature request"
I figure that it can't hurt to ask. Can this software be modified to work with steam controllers which are connected to the steam link? Or even ps4 controllers connected to steamlink? I want to play from my tv a few rooms away, instead of my pc monitor.

[2018-03-30 10:10] FrogTheFrog commented on #8
Technically it can be done. I tried to do it in the past, however I did not manage to decipher gyroscope data from incoming data stream. Therefore I just gave up as I have other things to do. Unless someone manages to figure out steam link's data protocol, I'm not pursuing this matter any further.

One thing you can do is to connect your Steam Controller to a laptop and steam data via laptop to yo

[2018-03-30 10:10] #8 closed

[2018-04-04 11:20] kmicki commented on #7
Indeed haptics feel different when the tool is running. You can feel the difference on default desktop config when using right trackpad - it seems to skip some.
About rumble emulation - whenever there should be a long rumble, I only get very weak, short shake.
Without the tool running haptis and rumble work properly.

[2018-04-04 22:53] FrogTheFrog commented on #7
@ajojoreference, @kmicki Just letting you know that I've found out what causes it, unfortunately I'm very busy this week. I'll try to push a fix this weekend.

[2018-04-06 12:49] FrogTheFrog commented on #7
@ajojoreference, @kmicki What APP version are you using? I was planning on releasing final `1.3.0` version, but I think I won't make it. However, I can add a hotfix to current `1.2.0` or `1.3.0` builds.

[2018-04-06 16:07] ajojoreference commented on #7
I'm using the 1.3.0 pre-release version.

[2018-04-06 16:57] kmicki commented on #7
I'm also using 1.3.0. Thank you!

[2018-04-06 17:38] FrogTheFrog commented on #7
The reason rumble and haptics (did not test this, but I assume it should work properly now) were acting weird is because I check if sensor's data is "stuck". If it is, then I send a request to Steam Controller to enable sensors. This request is the cause of all this nonsense. Checking if sensor's data is "stuck" is basically a guesswork, therefore it gives a lot of false-positives.

I managed to r

[2018-04-06 17:38] FrogTheFrog commented on #7
@ajojoreference, @kmicki I've uploaded it now.

[2018-04-11 06:43] kmicki commented on #7
@FrogTheFrog it is working, thank you.

[2018-04-27 17:06] Don-Vicente opened #9 "'Steam Gyro encountered a fatal error!'"
Hi there, I'm new here and just wanted to say thanks for posting this app for the steam controller!
Unfortunately I've run into an issue where I can't seem to restart the server for the program to work.
Upon starting the application I'm met with the error:

`error: Error: bind EADDRINUSE 127.0.0.1:26760`

After changing the server address to 127.0.0.2, etc. within the program as well as in the gen

[2018-04-27 17:08] FrogTheFrog commented on #9
@Don-Vicente Can you post your `.json` file?

[2018-04-27 17:15] Don-Vicente commented on #9
Definitely, my `.json` file looks like this:

[code]

[2018-04-27 17:27] FrogTheFrog commented on #9
@Don-Vicente You're using 1.3.0, which has broken `settings` UI. Which means you have to edit `json` file manually or else it will corrupt it. Delete `json` file and a new one will be generated. Then you can edit server address.

[2018-04-27 17:32] Don-Vicente commented on #9
Wow, you were spot on!
The server connected immediately after I did what you said and manually changed it within the `.json` file.
In order to change my port, and filter options will I have to do the same and edit them within file too?
Regardless, thanks Frog for the speedy reply and excellent help!

[2018-04-27 17:33] FrogTheFrog commented on #9
Yup, in 1.3.0 you have to edit `json` file manually and then restart the app.

[2018-04-27 17:33] #9 closed

[2018-05-20 15:24] Pendragon55555 opened #10 "Doesn't recognize steam controller through steam link"
I don't know if it is possible, but it would be great if the app could use a controller that is being used through the new steam link app or an actual steam link.

[2018-05-31 07:00] FrogTheFrog commented on #10
@Pendragon55555 Sorry for the late reply, but currently it is not possible to Steam Controller through Steam Link (need to figure out protocol). However, I'll try to see into this during my free time.

[2018-06-20 19:13] MRUser35 opened #11 "can't find executable"
is there something i'm missing? i can't find the executable anywhere in the files.

[2018-06-20 20:34] FrogTheFrog commented on #11
@MRUser35 What do you mean? You can't find a download link or what?

[2018-06-20 20:44] MRUser35 commented on #11
you wrote "Drag executable anywhere you want and launch it" and i don't understand what executable you meant because there isn't any in the file that i got from the download.

[2018-06-20 20:46] FrogTheFrog commented on #11
You must have downloaded source code. Unless you want to build app yourself, you should check the [release](https://github.com/FrogTheFrog/steam-gyro-for-cemuhook/releases) page.

[2018-06-20 20:47] MRUser35 commented on #11
oh... now i feel stupid

[2018-06-20 20:48] MRUser35 commented on #11
but thanks for the help

[2018-06-20 20:48] #11 closed

[2018-06-28 19:29] FrogTheFrog opened #12 "Bluetooth support"
Try to add it...

[2018-08-18 17:28] Shigbeard opened #13 "Cemuhook does not detect gyro or controller (version 1.2.0)"
steam-gyro version: 1.2.0
Cemu: 1.13.0f
cemuhook: 0.5.6.5
Date last produced: 2018-08-19

Description: Cemuhook does not detect the steam controller or the gyro when selecting gamepad motion source. Instead reads "DISCONNECTED" and does not produce motion in-game. Attempts have not been made to use the pre-release version 1.3.0 (See links below)

Expected behavior: When selecting a motion source,

[2018-08-18 17:30] Shigbeard commented on #13
It's also worth noting that the Steam Devices tab produces a loading circle that does not go away ([link](https://i.imgur.com/4VBMGJH.png))

[2018-08-19 11:20] Shigbeard commented on #13
Update: Appears to be a cemuhook problem, not a Steam Gyro problem. Connection was successful just now, scenario was that the server was running for an extended period of time and cemu was launched through a steam shortcut with the controller turned on.

Needs investigating.

[2018-11-25 12:04] emko opened #14 "question: how to use udp to just get battery level"
sorry if dumb question i see that you are using the UDP connection i am wonder is there a easy way to just get battery data i am writing a electron app that uses controller for navigation and i am having a really hard time understanding how you are getting information from ds4windows.

Thanks

[2018-11-25 12:21] FrogTheFrog commented on #14
I'm not using ds4windows, I'm getting data directly from controller. You could copy and trim https://github.com/FrogTheFrog/steam-gyro-for-cemuhook/blob/test/src/lib/steam-device/steam-hid-device.ts file to your project to get almost complete support for steam controller  (remove types if you're using JS only and ANYTHING related to bluetooth, because it's not working without custom drivers).

[2018-12-05 20:37] jdrr1998 opened #15 "Gyro doesn't work with steam overlay"
Hi, I just bought the Steam Controller and downloadede this awesome program so I'm a Little bit noobie here hehe
Well, the issue is, when I open cemu without Steam, gyro Works cool, but when I open with Steam (I don't rly open Cemu, I open this bat file converted to exe )
[Cemu for Steam Controller.zip](https://github.com/FrogTheFrog/steam-gyro-for-cemuhook/files/2650541/Cemu.for.Steam.Controller.

[2018-12-06 22:09] FrogTheFrog commented on #15
Hey,

what version of this app are you using? Try pre-release one, if you haven't already. Last time I've played with Cemu (~9 months ago) it worked fine. I no longer have Windows installed so I can't really test it myself. Also try using wire instead of a dongle, see if that works for some reason.

[2018-12-07 08:36] Diegorro98 commented on #15
I was using 1.3.0 because i didn't know that was pre-release, but it worked fine when I don't launch it throug Steam/Big Picture, but I just used the version 1.2.0 and I have the same problem.
I just tried using wire too, but the problem persist.

[2018-12-19 18:12] mahoneyd opened #16 "Can this be used using a DS4 through steam drivers"
I really like the DS4 controller and I know I can use the version of DS4Windows, but can this work with the DS4 gyro through steam drivers. Thanks!

[2018-12-19 18:14] FrogTheFrog commented on #16
Sorry, but no. This is only for Steam Controller.

[2018-12-19 18:14] #16 closed

[2019-01-04 21:04] ExpatUK commented on #13
I can confirm this behaviour on Cemu 15 And 15.1 with both 1.2 and 1.3 versions of this plugin.
It's shame because it's the first thing I've tried to use the gyro with. I'm running cemuhook 0.5.7.0.

[2019-01-04 21:19] Felina-Lain opened #17 "Gyro only work if Big Picture was focused"
Version Frog: 1.2.0

Observed: Frog doesn't detect any Gyro input, unless I started big picture and kept it at least semi focused. (meaning I was on bigpicture, and I used the win-key to see my taskbar and access cemu or padtest or any other soft)

Expected: for Frog to detect Gyro input all the time (if it's possible, I could be understanding this wrong)

How to reproduce:
- start frog server and

[2019-01-05 11:48] Felina-Lain commented on #17
Ok I found a workaround (or maybe it was the official steps, and I couldn't find them)

- In the cemu steam controller settings, put something on the Gyro. It can be any input (I used the directional pad, and left all the directions empty)
This forces Steam to turn ON the gyro, so the frog server can get its data.
Otherwise the gyro is OFF because it's not in use

- if you set up your steam shortc

[2019-01-05 11:51] FrogTheFrog commented on #17
I'll want to investigate this later myself, so I'll reopen this issue.

[2019-01-14 17:30] S-C-Johnston commented on #17
Seconding the problem, using release 661a7c7. Gyro server seems not to pick up any gyro data at all unless the gyro is bound to something, which is counter to what the readme instructs. As above, I bound it to an empty directional pad and Gyro Server started to pick input up (in this case, testing using the desktop configuration for the controller so as not to need Steam Big Picture Mode to test)

[2019-01-16 05:52] Soonspl opened #18 "Gyro not inputting correctly"
I'm not sure why this issue happens but after about a minute or two of gameplay the gyro stops working correctly. Every time I look up it tilts to the right, and if I look down it tilts left. It's a nightmare playing any game with motion support, happens with every controller I've tried. I thought it could've been an error with betterjoy with my switch pro controller, but it still happens with DS4

[2019-02-06 21:14] FrogTheFrog commented on #18
Sorry for the late reply, but if it happens with every controller, isn't it a cemu or cemuhook issue?

[2019-02-06 21:41] FrogTheFrog commented on #12
Adding it requires installing different bluetooth drivers for windows. I've decided that it's not worth it since I don't even have a PC that has bluetooth and windows 10 in it. So unless someone wants to do a PR, I won't add bluetooth support.

[2019-02-06 21:41] #12 closed

[2019-02-06 21:49] FrogTheFrog commented on #6
If I remember correctly, it was a Windows 7 issue.

[2019-02-06 21:49] #6 closed

[2019-02-06 21:50] #14 closed

[2019-02-06 21:54] FrogTheFrog commented on #10
I tried it and still failed 😞. I can't figure out how steam link is sending motion data (I managed to get other data). Giving up on it unless someone wants to do a PR.

[2019-02-06 21:54] #10 closed

[2019-02-07 14:08] FrogTheFrog commented on #4
Added realtime filter support with low-pass filter for accelerometer and high-pass filter for gyro. Might add more filters later on (PRs are also welcome), however I'm closing this for now.

[2019-02-07 14:08] #4 closed

[2019-02-07 14:09] FrogTheFrog commented on #7
Should be fixed in final 1.3.0 release.

[2019-02-07 14:09] #7 closed

[2019-02-07 14:10] FrogTheFrog commented on #13
@ExpatUK, @Shigbeard sorry for the very late reply. I've finally released v1.3.0, is it still broken?

[2019-02-07 14:12] FrogTheFrog commented on #15
@jdrr1998 Sorry for the late reply, I've just released v1.3.0 with updated dependencies and everything. Could you confirm that this is still an issue?

[2019-02-07 14:53] FrogTheFrog commented on #17
@S-C-Johnston Could you try the latest release? Also what OS are you using?

[2019-02-08 06:18] DerKuro opened #20 "steam-gyro-for-cemuhook.exe terminates itself/crash - RangeError"
Description:
see screenshot and log file.

The error occurs after a while (fresh boot) of normal use. Consecutive starts of the program after the initial error yield in immediate errors if the steam controller is powered on and connected and
set as motion source in cemuhook.
Rebooting the PC helps but as stated above only lasts a little while (maybe 2 minutes).

the negative sign of "value" (see l

[2019-02-08 11:08] FrogTheFrog commented on #20
This is what I get for only testing with testpad 😄 Bug confirmed and replicated. Gonna fix this ASAP.

[2019-02-08 11:41] FrogTheFrog commented on #20
I actually managed to replicate it once by sheer luck and can't do it again. Do you have to follow some kind of specific order?

[2019-02-08 13:05] ExpatUK commented on #13
I'll test later this evening and let you know - got a DS4 for BOTW and haven't looked back so far. :)

[2019-02-08 17:23] DerKuro commented on #20
I started cemu (with cemuhook) first. then steam-gyro. After the error it didnt't matter which order I chose. Immediate crash after starting Steam-gyro but only if there is input (moving the controller).

Maybe it is on cemuhooks end, since everything works if I set "GamePad motion source" in cemuhook to default or anything else than the connected Steam Controller (in this case DSU1).
As soon as I

[2019-02-08 17:28] FrogTheFrog commented on #20
Nope, it's on my end. I even managed to trace back where it was producing a negative number where positive is expected, I then ran out of luck as it started working as intended and I could not get to the root cause.

[2019-02-08 17:39] DerKuro commented on #20
I see. So far it is working (not sure if starting Steam-gyro first helped or if it pure luck). Is there anything I can help you with if I manage to reproduce the error again?

[2019-02-08 17:42] FrogTheFrog commented on #20
Unfortunately no, I'll just have to try my luck.

[2019-02-08 18:36] FrogTheFrog commented on #20
I lucked out on first try, fixed the issue hopefully.

[2019-02-08 18:36] #20 closed

[2019-02-11 11:47] ExpatUK commented on #13
@FrogTheFrog Hi, sorry for the late response. New version does not even detect controller at desktop - unable to test with CEMU.

[2019-02-21 23:55] Scoo commented on #13
Hello,
I recently downloaded the last versions of Cemu and Cemuhook, tried to run steam-gyro-for-cemuhook.exe, unfortunately no controller seems to be detected.
Also tried directly on padtest, still nothing...

I'm pretty sure I followed the instructions, because after that I succesfully used my phone's gyro both on padtest and in game.

Is there anything to do about it, like downgrading Cemuhook

[2019-02-22 00:01] FrogTheFrog commented on #13
@Scoo I and @ExpatUK will try to pinpoint the issue this weekend. Btw, what kind of error do you get for 1.0.4?

[2019-02-22 00:10] Scoo commented on #13
![errorsteamgyro](https://user-images.githubusercontent.com/1344703/53210572-9d832280-363e-11e9-98d3-274b629eed3f.png)

[2019-02-22 00:17] FrogTheFrog commented on #13
This error occurs (which is fixed in later versions) because of the issue you're having right now - not connecting to a steam controller.

[2019-02-22 10:31] Scoo commented on #13
On your 1.1.0 version you added a tab to show different devices.
I see several steam controllers on it, you can take a look here:
![gyrocemu1 1 0](https://user-images.githubusercontent.com/1344703/53236274-2d9f8700-3694-11e9-96b8-5717cba1b796.jpg)

Only the first one is receiving good informations in real time when I hit buttons and move the controller, the other ones seem frozen:
![gyrocemu1 1 0a

[2019-03-30 03:54] Dezrox opened #21 "Custom port keeps reverting to standard."
Every time I start up the .exe, I get the following error:

Error: bind EADDRINUSE 127.0.0.1:26760
    at state.handle.lookup (dgram.js:242:18)
    at process._tickCallback (internal/process/next_tick.js:63:19)

I have altered cmuhook.ini to use 26761 port, and everything works fine when I reload the server with the matching port. My problem is that when I start up the .exe again, it reverts to 26

[2019-03-30 06:42] FrogTheFrog commented on #21
Now that's a strange issue. If no other errors are showing up, then I don't know what could be wrong. Could you let me take a look over teamviewer and perhaps debug it on your PC?

[2019-03-30 23:30] rgmsilva opened #22 "Steam controller not detected in Bluetooth low energy mode"
First of all, I appreciate your work with this app, it has been invaluable to me and many others,  so thank you for all your work.
The steam controller is not detected in the application when in BLE mode, it works fine wired.
I cannot test with the original dongle as it has gone to electronics heaven.
I am running the newest version of the steam controller firmware.
*EDIT I tried earlier versions,

[2019-04-02 00:13] Dezrox commented on #21
Hey, I don't have tons of time in the evening to troubleshoot with you (I'm East-Coast USA), but I could try. You'd have to help me out with teamviewer though, not sure what that is.

Only other detail that I left out from before is that when I started the .exe for the first time Windows gives me a warning:

![image](https://user-images.githubusercontent.com/24260053/55367264-3157d200-54ba-11e9-9e

[2019-04-02 03:53] Crono141 commented on #22
I can confirm that BLE mode on steam controller doesn't work.

[2019-05-13 15:39] smrq commented on #10
I'm interested in digging into this.  How did you get any data at all?  I'm not seeing any HID devices for controllers connected via Steam Link, which leaves me wondering how the data is being streamed at all.

[2019-05-21 09:54] FerGitH commented on #17
Hi,

I have the same problem (I´m using Cemu 1.15.6c and gyro for cemuhook 1.3.1 on a win7)

The controller is recognised if connected via USB but it doesn´t work if connected using the steam dongle.

[2019-08-10 00:34] Windsinni commented on #22
I can't use gyro with BLE mode either
Is there any solution?

[2019-09-09 00:22] Enuomis opened #23 "RangeError"
As soon as I open Cemu or pad test, I get this error, can you help me figure it out please?

2019-09-07T00:39:45.684Z] RangeError [ERR_OUT_OF_RANGE]: The value of "value" is out of range. It must be >= 0 and <= 4294967295. Received -896183418
    at checkInt (internal/buffer.js:35:11)
    at writeU_Int32LE (internal/buffer.js:513:3)
    at Buffer.writeUInt32LE (internal/buffer.js:526:10)
    at t.

[2019-09-09 23:55] Enuomis commented on #23
For anyone else having the same issue, I don't know if that's the solution but i turned Full Sync at GX2DrawDone() on and the issue seems to be gone.

EDIT : Nope, not the solution...

[2019-10-24 18:40] NickZ opened #25 "MacOS support"
I had tried adding Mac support to my PR #24, but a few things are holding this back:

1. node-hid needs to be updated to use hidapi 0.9, as the interface numbers weren't populating properly in the device listing prior to that. node-hid on `master` currently uses that version, but not the npm release one.
2. hidapi on mac currently only opens the device in exclusive mode, which leads to a lot of de

[2019-10-24 18:43] NickZ commented on #22
I took a look at this, but it uses a completely different protocol that hasn't been reverse engineered by anyone yet. Plus, it's currently only in beta right now, and the gyro resolution is pretty low compared to using it wired or with the dongle. I wouldn't recommend it.

[2019-10-25 14:04] FrogTheFrog commented on #13
Closing old issue.

[2019-10-25 14:04] #13 closed

[2019-10-25 14:04] FrogTheFrog commented on #15
Closing old issue.

[2019-10-25 14:04] #15 closed

[2019-10-25 14:05] FrogTheFrog commented on #18
Closing old issue.

[2019-10-25 14:05] #18 closed

[2019-10-25 14:06] FrogTheFrog commented on #21
Closing old issue. Reopen if you're still experiencing this issue.

[2019-10-25 14:07] #21 closed

[2019-10-25 14:08] FrogTheFrog commented on #17
Closing old issue. Reopen if you're still experiencing this issue.

[2019-10-25 14:08] #17 closed

[2019-10-25 14:09] FrogTheFrog commented on #22
Also, to add to what @NickZ said, it might require to install separate BLE drivers for Windows 10. A pull request is welcome.

[2019-10-26 00:43] Detrixukaon58 opened #27 "Can't get device connected"
every time I try to use the software, i can't get it to connect. This is what i see whenever i follow the instructions on how to use it.
![Screenshot (91)](https://user-images.githubusercontent.com/20668560/67611521-fbe63f00-f791-11e9-8aa9-502cf3fd0e19.png)

[2019-10-26 07:09] FrogTheFrog commented on #27
Can you connect it to https://files.sshnuke.net/PadTest_1011.zip?

[2019-10-26 09:06] FrogTheFrog commented on #27
Also try v1.3.3 of this app, you should see green wifi icon in the UI if connection to something is established.

[2019-10-26 15:27] DanteDraconi commented on #18
Sorry for commenting on an old/closed issue, perhaps I should open a new one.

I've been having exactly the same issue with a Steam Controller, looking up or down tilts to the right and left respectively. Even laying the controller flat on a table it tilts as bad as 45º to either side.
Sometimes it seems to fix itself after laying the controller down and alt-tabbing out, other times needs a restar

[2019-10-26 15:37] FrogTheFrog commented on #18
@DanteDraconi That's the problem with steam controller itself - it tends to drift after some point. Steam decided to "solve" this problem by resetting motion data while it is not being moved for some time.  There is no real fix for this unfortunately :/.

[2019-10-26 15:53] DanteDraconi commented on #18
Damn... I've never used motion controls with it before so didn't know about it. Thanks for your input and the workaround

[2019-10-29 18:15] Detrixukaon58 commented on #27
I have tried to use the pad test app, but it doesn't work.
Does this software only work for steam controllers or does it work with the steam controller mapper, that lets you use other controllers on steam games?

[2019-10-29 18:17] FrogTheFrog commented on #27
It works only with a steam controller.

[2019-10-29 18:19] Detrixukaon58 commented on #27
Ok, thanks. Sorry for any inconvenience.

[2019-10-30 14:35] #27 closed

[2019-11-03 09:42] SlateDave opened #28 "MacOS Version"
Hello,

is there a way to use this on a mac?

[2019-11-04 21:53] NickZ commented on #28
Please see my issue below: https://github.com/FrogTheFrog/steam-gyro-for-cemuhook/issues/25

[2019-12-04 17:51] NickZ opened #29 "Support selecting from multiple controllers"
Support selecting from multiple controllers when detecting multiple active.

I mostly want to add this in anticipation of adding Dualshock 4 support, but I am running into issues refactoring it to do so. @FrogTheFrog I was just curious, did you have any work on this so far?

[2019-12-04 18:56] FrogTheFrog commented on #29
I had this functionality before, but I've removed it after refactor :thinking:

[2019-12-15 07:41] frogsatan opened #30 "Not connecting to Steam Controller"
The app seems to no longer be able to find the Steam Controller. The UDP icon stays red, the tooltip reads "disconnected".
The Steam Controller is connected via cable and works fine in all other apps. I've tried switching to different cables, different USB ports, re-downloading the app, restarting the PC, but to no avail.
It seems going back to 1.3.1 seems to fix it.

[2019-12-15 18:56] download13 opened #31 "App crashes if you open the UI then hide it"
It seems that when you open the UI, the backend starts periodically sending `connection-status` updates to the frontend (among others, but that's the one crashing it for me).

If you click "Hide", and wait 5 seconds for it to destroy the renderer it'll crash with the error `Object has been destroyed`.

I think the problem is that the `connection-status` updates keep getting sent even when the dest

[2019-12-17 20:22] Hinkiii commented on #30
Thank you for this I was just having issues with that

[2019-12-28 00:52] Blargh14 commented on #30
Ah, I wouldn't be giving any new information then.
1.3.0/1.3.1 gives #23 issue for me, onward doesn't find the controller. Currently using 1.2.0 and it works fine.
Thanks FrogTheFrog for the program!

[2019-12-28 20:56] FrogTheFrog commented on #31
@download13 Sorry for the late response, it was worse than that 😄 Hopefully, it should be fixed now. Could you check out 1.3.4 and close this issue if it's solved for you?

[2019-12-28 20:59] FrogTheFrog commented on #30
@frogsatan, @Hinkiii, @Blargh14 Sorry for the late reply. It should fixed in 1.3.4 and if it is please close the issue.

@Blargh14 Could you additionally verify that you do not encounter issue #23 😄 ?

[2019-12-28 23:24] download13 commented on #31
Looks good, thanks!

[2019-12-28 23:24] #31 closed

[2019-12-29 05:33] #30 closed

[2019-12-29 20:39] Blargh14 commented on #30
Well wasn't late for me at least. Just downloaded it and used padtest, everything seems to be working great so far! Nice shiny UI and everything. #23 didn't occur. Thanks!

[2020-02-19 06:18] neico opened #33 "App is using GPU explicitly (on Windows at least)"
I don't have an issue per se with it doing so,
but given the simplicity of what this application provides I've got curious why it's listed in Nvidia's GPU activity list.

As far as I can see it this is using a website as UI, requiring something like CEF.
I however don't see anything that would actually require "Hardware Acceleration".
Can this either have the usual "Disable Hardware Acceleration"

[2020-02-19 16:05] FrogTheFrog commented on #33
I agree, I don't see why it should be in GPU list while the UI process itself does not exist 🤔.

Anyway, since I'm not doing fancy graphics I see no reason why this can't be disabled for the whole app. Once, the 1.3.5 builds are released, I will close this issue.

[2020-02-19 16:33] #33 closed

[2020-04-28 02:30] FirefoxinHell opened #35 "CEMU 1.18.0 & 1.18.1 using new API DSUClient works with lag"
I tried to test new built in API for Motion on input settings with the dsu
steam-gyro-for-cemuhook

the problem its self, no rumble support anymore and big Lag, all the controll take long time to response, more than a second i think.

using the old cemuhook and xinput works perfect like always

VERSION 1.18.0 have the bug
VERSION 1.18.1 have the bug

i dont know if the problem came from emulator o

[2020-04-28 05:18] FrogTheFrog commented on #35
I'm afraid that's the issue with Cemu itself, there's nothing I can do about it right now :/. Just gotta wait,

[2020-04-28 19:10] FirefoxinHell commented on #35
thast what I think,  sorry for bother you with this,i think we need to whait a new release
by the way, great software thanks a lot for your works, use it for dolphin too and its works flawless, the only think its drive me crazy its how to separate motion of to real controller on one Steam controller, like Zelda Skywards needs, its use wiimote and nunchuck with motion both at the same time, for att

[2020-07-17 14:18] optical10 opened #36 "Cemu 1.20.0b no connection!"
Cemu 1.19.3 was fine yesterday steam updated today as well as Cemu to this patreon Cemu 1.20.0b build then steam controller doesn't connection in cemu but the "FrogTheFrog/steam-gyro-for-cemuhook" shows a connection. Steam shows a connection too but cemu doesn't?

[2020-07-22 06:30] FrogTheFrog commented on #36
I've just checked with public release and it still works, but for some reason controller configuration was reset. Verify that controller input is set to XInput, and etc., but NOT to DSUInput.

[2020-09-06 07:15] cheatfreak47 opened #37 "steam-gyro.json won't generate ever if an error is encountered during application start"
users with the default port in use already (such as by scp-service) encounter a problem where steam-gyro.json is never able to generate, even if the server restarts on another port or local address that isn't in use afterwards

[2020-09-06 08:09] FrogTheFrog commented on #37
Hey, try the 1.3.6 release. Should be fixed now :thinking:

[2020-09-06 08:09] #36 closed

[2020-09-06 08:10] #35 closed

[2020-09-06 21:01] cheatfreak47 commented on #37
confirmed fixed, nice work!

[2020-09-06 21:01] #37 closed

[2020-09-24 23:55] TheThurbo opened #38 "Connection Icon Flashes Orange/Green"
It keeps changing from "Connected" to "Device connected | No UDP connection" every second or so. Is that normal?

I'm asking because I can't get it to work in Yuzu. The emulator says that it "Successfully received data from the server" when I click on "Test", and yet, when it asks me to "Shake!", I can't get the motion to map. It should say "Motion 0" but nothing happens.

[2020-09-25 14:05] FrogTheFrog commented on #38
The flashing icon is my fault. The protocol specifies a 5 sec. client notification window (that they are still listening). Cemu notifies the app every 1 sec., whereas the yuzu does this every 3 sec. I will fix it by increasing the said window from 1 sec. to 5 secs.

How can I get yuzu to ask me to shake it?

[2020-09-25 14:19] FrogTheFrog commented on #38
I think I've found the problem, time to find out if it's me or yuzu who did boo boo.

[2020-09-25 15:02] Thornskade commented on #38
Thank you so much for looking into this.

As for Yuzu, in the controller config under the image of the Pro Controller there's a bind called "Motion 1", that's the one where you are supposed to shake your controller to bind it.

[2020-09-25 18:26] FrogTheFrog commented on #38
I fixed the bug where I was sending data way too many times. Alas, this changes nothing apart from less clutter in yuzu's log. However, due to this bug, I'm 100% sure that it is indeed receiving motion data constantly.

Now this will be a very stupid question, but aren't the assign buttons intended for "physical" devices? If I uncheck the "motion" checkbox for emulated motion, I can still "shake"

[2020-09-25 18:38] FrogTheFrog commented on #38
You can enable logging in Yuzu to see what a mess the current release is. The new release fixes it.

[2020-09-26 01:56] Thornskade commented on #38
I will try it once I'm home, I'm away for the weekend or at least till Saturday evening, central European time

And yes, you can click on "Shake!" without enabling motion controls and assign a physical button – but with motion controls enabled, the field should say "Motion 0" after you've shaken your controller. That will be your motion mapping.

[2020-09-26 08:55] FrogTheFrog commented on #38
This is should be fixed by https://github.com/yuzu-emu/yuzu/pull/4727.

[2020-09-28 16:48] FrogTheFrog commented on #38
@TheThurbo Until the fix is merged, just go to `%appdata%\yuzu\config\qt-config.ini` and set `player_0_motionleft` to
[code]

[2020-09-28 19:22] german77 commented on #38
Please address the comment on yuzu-emu/yuzu#4727 so it can be merged

[2020-09-28 19:34] FrogTheFrog commented on #38
@german77 Sorry, but what comment? The CLA is already signed.

[2020-09-28 20:20] Thornskade commented on #38
@FrogTheFrog Thank you, that works!

[2020-09-29 00:04] german77 commented on #38
Sorry, I did not notice that it wasn't visible for everyone. It should be visible now.

[2020-10-07 18:32] FrogTheFrog commented on #38
Yuzu merged the fix to mainline, so this can be closed.

[2020-10-07 18:32] #38 closed

[2020-10-20 18:38] tomasdeltell opened #40 "Raspberry Pi support"
There would be a possibility to get support for raspberry pi?

[2020-10-20 19:44] FrogTheFrog commented on #40
I have added a build for ARMv7 (AppImage), but have no real way to test it and leave it up to you :+1:

[2020-10-20 21:46] tomasdeltell commented on #40
I will test it tomorrow and post the results ;)

[2020-10-21 06:49] tomasdeltell commented on #40
It installs fine, installing some dependencies first, but depending on X11 to run, it gives me some errors. Can the application be launched without a graphical environment?

[2020-10-21 19:07] FrogTheFrog commented on #40
I'll try to see what I can do on weekend.

[2020-10-23 08:13] tomasdeltell commented on #40
Can you add a Deb package for the raspberry?

[2020-10-24 07:25] FrogTheFrog commented on #40
I've added the debian package.

[2020-10-26 09:08] tomasdeltell commented on #40
After solving some errors in my system, when launching it gives this error:

[code]

I found this about this problem: https://github.com/electron-userland/electron-builder/issues/2586

[2020-10-31 00:03] FrogTheFrog commented on #40
I've got a Raspberry4 and will try to see if I can build the project natively.

[2020-10-31 09:08] tomasdeltell commented on #40
Thank you!

[2020-10-31 09:30] FrogTheFrog commented on #40
I have built the `AppImage` for `armv7l`, however I'm not able to build `deb` as it seems the electron-builder does not support it :/. UI works, unless you try to use the graph option, then it starts to lag real bad :D. UI process won't be created so no need to worry about it anyway.

Good news is that I have confirmed that it works in-game! Make sure to set proper ip address both in the app and c

[2020-11-03 18:45] tomasdeltell commented on #40
Thank you! I will test it and tell you the results

[2020-11-06 16:16] tomasdeltell commented on #40
When I launch it, I have a Segmentation Fault.
I want to clarify that in my raspberry I use osmc as OS and it does not run X11 directly.
Is there a way to start it in headless mode?

[2020-11-06 16:30] FrogTheFrog commented on #40
Not really, but I can try something, just to see if it works. Could you try to build the app yourself on osmc in the meantime?

[2020-11-06 17:03] tomasdeltell commented on #40
Yes. How can I build the app?

[2020-11-06 17:08] FrogTheFrog commented on #40
Do you have a discord? I think it would be faster to chat there :) If you have, add me to friends: FrogTheFrog#1801.

[2020-11-06 17:12] tomasdeltell commented on #40
I have not discord. I'm installing electron-builder

[2020-11-06 17:18] FrogTheFrog commented on #40
Nvm then, what you need to do:

1. Download this repo.
2. Install nodejs and npm via the os package manager.
3. In the repo directory run `npm i`.
4. If you get compile errors about missing libraries, install them via the os package manager and continue from step 3.
5. If you had to do step 4, delete `node_modules` directory and continue from step 3.
6. In the repo directory run `npm run build:dis

[2020-11-09 08:09] tomasdeltell commented on #40
I am trying to compile it, the process is extremely slow on rpi. I will report the result. Did you get something from you?

[2020-11-11 08:09] tomasdeltell commented on #40
I've got it to work! I had to install x11 from [here](https://github.com/zjoasan/x11-osmc).
The problem now is when I start the application with this method, the performance drops.
I keep trying to compile the current branch of the project, but it gives me errors

[2020-11-14 12:01] tomasdeltell commented on #40
Have you made any progress?

[2020-11-14 12:09] FrogTheFrog commented on #40
Sorry, I will not be able to sit down on this project for some time. What kind of errors do you get?

[2020-11-17 09:49] tomasdeltell commented on #40
$ npm i
npm WARN npm npm does not support Node.js v10.21.0
npm WARN npm You should probably upgrade to a newer version of node as we
npm WARN npm can't make any promises that npm will work with this version.
npm WARN npm Supported releases of Node.js are the latest release of 4, 6, 7, 8, 9.
npm WARN npm You can find the latest version at https://nodejs.org/

prebuild-install WARN install No prebui

[2020-11-17 09:52] FrogTheFrog commented on #40
You need to install `libusb-dev` and `libusb` system packages.

[2020-11-17 15:16] tomasdeltell commented on #40
Thank you. App is building, it's taking more than 5 hours xD

[2020-11-18 15:19] tomasdeltell commented on #40
I have not been able to build it on the raspberry, after 48 hours it did not finish. On my x86_64 PC, after finishing the above commands correctly, the command npm run start throws this error:

[code]

[2020-11-18 15:28] FrogTheFrog commented on #40
Did you run `npm run build:dist`? That's the only way I know that could produce this error :/

[2020-11-18 15:29] FrogTheFrog commented on #40
Also, what kind of RaspberryPi do you have?

[2020-11-18 16:25] tomasdeltell commented on #40
In my x86_64 PC this is the result of `npm run build:dist`

[code]

[2020-11-18 16:25] tomasdeltell commented on #40
A 3B+

[2020-11-19 13:15] juanma-cvega opened #44 "Support for DualShock 4 and Switch pro controllers"
Hi,
would it be possible to add support for the controllers in the title? I know there is software that makes them work already but that requires Steam controller support to be disabled for them which makes the Steam input mapper not to work when playing Steam games. This would also be useful when playing through the Steam Link app. The only way to make the DualShock 4 work would be by connecting

[2020-11-19 13:48] juanma-cvega commented on #44
I just saw there was a similar issue already open with an answer so closing this one as it's duplicated

[2020-11-19 13:48] #44 closed

[2020-11-26 11:56] tomasdeltell commented on #40
What could be the problem? I have tried again but it still fails.

[2020-11-26 12:01] FrogTheFrog commented on #40
I honestly don't know. One stupid solution that might work is to completely delete the download git source and download/build it again from scratch. Some project components do not completely rebuild (if you failed to build them for the first time) unless you do that for some reason.

[2020-11-26 13:08] tomasdeltell commented on #40
I've try that you tell without success. I've deleted the dierctory and executed 'npm i', 'npm run build:dist' and 'npm run start' with same result.

[2020-11-26 13:50] FrogTheFrog commented on #40
Sorry, but I have no idea what's wrong then. You need to somehow launch compiled `main.bundle.js` with `electron`'s binary (located in `node_modules`, I think), Maybe it is not finding the bundle for some reason?

[2020-11-26 14:28] tomasdeltell commented on #40
If i build it with npm run build:linux it build the packages (snap, appimage and pacman) and the application works (including headless mode!!), but the arm package is not building. How can I build the arm packages?

[2020-12-01 16:32] FrogTheFrog commented on #40
Congrats! I'm interested in the performance though, is it any better?

[2020-12-02 10:10] tomasdeltell commented on #40
I can't not test in the raspberry. In my PC RAM used by application has decreased a bit.
However even though it runs in headless mode it still needs the graphical server to work.Therefore in the raspberry it will continue to consume too many resources.
Finally I have managed to automate how to launch the application from the raspberry, without using the command line, so for now it works. It would

[2020-12-16 12:01] tomasdeltell commented on #40
Can you help me build the package for the Raspberry?

[2020-12-16 18:19] FrogTheFrog commented on #40
Ah sorry, I did not see that you've said that the arm package is not building.
The easiest way to do it is to replace `"build:linux": "rimraf release && electron-builder build --linux --x64"` with `"build:linux": "rimraf release && electron-builder build --linux --armv7l"` in `package.json`.

Additionally, replace:
[code]
with
[code]

I'm not sure if other target types apart from "AppImage" are su

[2020-12-18 09:13] tomasdeltell commented on #40
Thank you, I can build the AppImage and the DEB package.

[2021-02-23 23:12] Cheerpipe commented on #29
Hi and first off all thanks for the great work. This app is the only hope for us SC owners.

Any chances of get multi controller support? I have two SC so i can help with debug and test.

[2021-05-25 16:46] Davidian1024 opened #45 "Ubuntu 20.04: buttons/sticks or motion. Not both at the same time."
Hello,

I'm trying to configure this to work with the Yuzu emulator under Ubuntu 20.04.

I'm able to launch the AppImage and I can see it listening on UDP port 26760.  I see my steam controller getting recognized by steam-gyro-for-cemuhook.  And I can see accel and gyro data as i move the controller around.

When I launch the Yuzu emulator I'm able to select the steam controller and configure it t

[2021-05-25 17:20] FrogTheFrog commented on #45
Hello,

unfortunately I don't know a workaround for this. In the past I've used this app in combination with steam and it seemed to work for cemu (never noticed this issue in the first place).

I no longer own a steam controller, so I'm afraid you're on your own :disappointed:

[2021-07-04 09:47] angusmglfraser opened #46 "Judder"
I've been using this on CEMU, and I've noticed that there's a constant subtle juddering making precise aiming a little more difficult. It feels like the polling rate on this might be lower than what the Steam controller normally does when used via SteamInput.

I haven't been getting this issue when using other controllers with cemuhook.

[2021-08-17 21:17] bindi commented on #29
Can we expect to see multiple controller support anytime soon? I've been using a steam controller to play BOTW and it works fantastically, however, I would like to play some games with my friends such as Mario Party, which requires a gyro (to act as a wiimote, iirc). My 4 steam controllers are currently limited to older non-gyro/wiimote games :-(

[2021-10-08 23:48] MRcoin2 commented on #29
@FrogTheFrog  are you still working on this project?

[2021-10-09 06:47] FrogTheFrog commented on #29
Unfortunately, not really. I might fix some bugs, but no new features since I no longer have Steam Controller 😕

[2022-03-05 09:53] S1lent-Gh0st opened #47 "[Feature request] SteamDeck's gyro support"
Hi
I've tested SteamDeck's gyro using AppImage release however software cannot pick it up. Is there a way to add support for SteamDeck's gyro?
If you need any logs or files I'll happily provide them.

[2022-03-05 10:36] FrogTheFrog commented on #47
Hello,

unfortunately this was developed for SteamController and will not work with SteamDeck (still waiting, Q2 :cry:).
I will not be adding the implementation for this.

With that said, I know that on linux most of the time the gyro data is exposed on `/dev/input`. This usually can be verified in system settings (this is how it looks for my dualsense controller):
![image](https://user-images.git

[2022-03-05 10:36] #47 closed

[2022-03-05 10:41] FrogTheFrog commented on #46
Hello, sorry for the late reply as I did not notice this issue. It's a known issue and the post-processing needs to be done on the sensor-data consumer side. Nothing really can be done about this.

I'm archiving this project and therefore closing this issue.

[2022-03-05 10:41] #46 closed

[2022-03-05 10:41] FrogTheFrog commented on #45
I'm archiving this project and therefore closing this issue.

PS. if you're on linux please take a look at https://github.com/v1993/evdevhook.

[2022-03-05 10:41] #45 closed

[2022-03-05 10:42] FrogTheFrog commented on #40
I'm archiving this project and therefore closing this issue.

[2022-03-05 10:42] #40 closed

[2022-03-05 10:42] FrogTheFrog commented on #29
I'm archiving this project and therefore closing this issue.

[2022-03-05 10:42] #29 closed

[2022-03-05 10:42] FrogTheFrog commented on #28
I'm archiving this project and therefore closing this issue.

[2022-03-05 10:42] #28 closed

[2022-03-05 10:42] FrogTheFrog commented on #25
I'm archiving this project and therefore closing this issue.

[2022-03-05 10:42] #25 closed

[2022-03-05 10:42] FrogTheFrog commented on #22
I'm archiving this project and therefore closing this issue.

[2022-03-05 10:42] #22 closed